{% load static %} <!--Necessário para o carregamento de imagens do diretório static-->
<nav class="w-full flex justify-between items-center py-3 px-4 fixed z-50">
    <div class="w-3/12">
       <a href="/">
            <img class="w-5/12" src="{% static 'images/logo.png' %}">
        </a>
    </div>
{% if user.is_authenticated %} <!-- Verifica se o usuário esta logado apresentando as devidas informações na barra de navegação -->
    <div class="w-6/12 flex flex-nowrap justify-end">
       <div class="mr-2">
            <!-- Formulário de pesquisa com método GET porque apenas direciona para a página de pesquisa passando o texto pesquisado como parâmetro-->
            <form method="get" action="{% url 'filme:pesquisafilme' %}">
                <input type="text" class="py-1 px-2 rounded-md border border-white text-white" name="query" " placeholder="Pesquisar...">
                <input type="submit" value="">
            </form>
       </div>

       <div class="mr-2">
            <form method="post" action="{% url 'filme:logout' %}">
                {% csrf_token %} <!-- Necessário para segurança do formulário, previne ataques CSRF -->
                <button class="bg-red-600 rounded-md text-white py-1 px-3" type="submit">Sair</button> 
            </form>
       </div>

       <div class="mr-2">
            <a href="{% url 'filme:editarperfil' user.pk %}">
                <button class="bg-red-600 rounded-md text-white py-1 px-3">Editar Perfil</button>
            </a>
       </div>
    </div>
{% else %}
    <div class="w-6/12 flex flex-nowrap justify-end">
       <div class="mr-2">
            <a href="{% url 'filme:login' %}">
                <button class="bg-red-600 rounded-md text-white py-1 px-3">Login</button>
            </a>
       </div>
    </div>
{% endif %}
</nav>